body {
  box-sizing: border-box;
}

.calculator-body {
  border: 1px solid black;
}

.display {
  border: 2px dotted rgb(132, 0, 0);
}

.keypad {
  border: 1px dashed rgb(15, 116, 81);
}

.keypad button {
}
